{{ define "main" }}
<div class="parent" style="position: relative">
  <div
    id="loading"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.8);
    "
  >
    Loading ...
  </div>
  <iframe
    id="iframeWrapper"
    width="100%"
    height="100%"
    frameborder="0"
  ></iframe>
</div>
<script>
  let navbarHeight = document.querySelector(".nav-container").offsetHeight;
  let remainingHeight = window.innerHeight - navbarHeight;
  let iframe = document.querySelector("#iframeWrapper");

  // Get the 'dev' query parameter
  let params = new URLSearchParams(window.location.search);
  let dev = params.get("dev");

  // Conditionally set the iframe source
  if (dev === "true") {
    iframe.src = "{{ .Params.dev_iframe }}";
  } else {
    iframe.src = "{{ .Params.prod_iframe }}";
  }

  // Set the height of the iframe
  iframe.style.height = `${remainingHeight}px`;

  // Hide the loading spinner when the iframe is loaded
  iframe.onload = function () {
    document.getElementById("loading").style.display = "none";
  };
</script>
{{ end }}
